*  {
    box-sizing: border-box ;
   }

    p {
        font-size: 30;
        font-family: sans-serif;
        margin: 20px;
        margin-left: 200;
   }

    input[type=text], input[type=number], input[type=date] {
            width: 50%;
            padding: 10px;
            margin: 10px;
            display: inline-block;
            border: none;
            background: #FAEEE7;
        }

    .content{
               width: 1400px; 
               height:auto;
               margin: 10px;
               margin-left: 30px;
               color:black;
               position:relative;
        }

    .content .par{ 
               padding-left:20px;
               padding-bottom: 25px;
               letter-spacing: 2px;
               line-height:30px ;
               font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
               color: black; 
        }

    .content .head{
                font-family: 'Times New Roman', Times, serif;
                color: #CD1818;
                font-size: 25px;
                padding-left: 280px ;
                margin-top:9% ;
                letter-spacing:1px ; 
            }           

    input[type=text]:focus,input[type=number]:focus,input[type=date]:focus {
                background-color: #FAEEE7;
                outline: none;
    }

    button {
                background-color: #BB6464; 
                color: white;
                padding: 10px;
                margin: 20px ;
                border: none;
                cursor: pointer;
                width: 30%;
                opacity: 0.9;
    }

    

    .container {
                width :400px;
                height:900px;
                background-color: #FFE4C0;
                position: absolute;
                top: 0px;
                left: 870px;
                padding:60px;
                border-radius:15px;
                border: 1px solid #CD1818 ;
    }

    
    body {
               padding: 0px;
               padding-left:10px;
               background-color: #F9F3DF;
    }   

    table {

               table-layout: fixed;
               width: 50%;
               border-collapse: collapse;
               border: 1px solid black;
               
    }

    thead th:nth-child(1) {
              width: 30%;
    }

    thead th:nth-child(2) {
              width: 30%;
    }

    thead th:nth-child(3) {
              width: 30%;
    }

    thead th:nth-child(4) {
              width: 30%;
    }

    thead th:nth-child(5) {
              width: 30%;
    }
    thead th:nth-child(6) {
        width: 30%;
    }
    thead th:nth-child(7) {
        width: 30%;
    }
    thead th:nth-child(8) {
        width: 30%;
    }
    thead th:nth-child(9) {
        width: 30%;
    }  
    thead th:nth-child(10) {
        width: 30%;
    }


    th, td {
            
            border:2px solid black ;
            text-align: center;
    }
 
