.containers {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
  }
  .app-wrappers {
    background-color:#fff;
    min-width: 350px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .form-successs {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    min-width: 370px;
    color: #f80759;
    }
    
    h3{
        text-align: center;
    }

    h4{
        text-align: center;
        color: #f80759;
    }

    .images{
        text-align: center;
        margin-left: 200px;
    }